@using KP.Cookbook.Domain.Models
@{
    Layout = null;
    string name = $"{Model.Prefix}[{Model.Order}]";
}

@model KP.Cookbook.UI.Models.IngredientFormModel
<div class="ingredient w3-margin-top">
    <div class="w3-row">
        <div class="w3-rest">
            <input type="hidden" readonly name="@(name).Ingredient.Type" value="@Model.Ingredient.Type" />
            <input id="ingredient-id-@(Model.Ingredient.Id)" type="hidden" name="@(name).Ingredient.Id" value="@Model.Ingredient.Id" />
            <label>Название</label>
            <input class="w3-input" type="text" readonly name="@(name).Ingredient.Name" value="@Model.Ingredient.Name" />
        </div>
    </div>
    <div class="w3-row w3-margin-top">
        <div class="w3-third">
            <label>Мера объема</label>
            <select class="w3-select" name="@(name).Measure" asp-items="Html.GetEnumSelectList<IngredientMeasure>()"></select>
        </div>
        <div class="w3-third">
            <label>Количество</label>
            <input class="w3-input" type="number" step="any" name="@(name).Amount" />
        </div>
        <div class="w3-third w3-center">
            <label>По желанию</label>
            <input class="w3-check" type="checkbox" name="@(name).Optional" value="true"/>
        </div>
    </div>
</div>