@using KitProjects.Cookbook.Domain.Models

@model KitProjects.Cookbook.UI.Models.IngredientFormModel
<div class="ingredient">
    <label>Название</label>
    <input type="text" name="@(Model.Prefix)[@(Model.Order)].Ingredient.Name" />
    <label>Тип ингредиента</label>
    <select name="@(Model.Prefix)[@(Model.Order)].Ingredient.Type" asp-items="Html.GetEnumSelectList<IngredientType>()"></select>
    <label>Количество</label>
    <input type="number" step="any" name="@(Model.Prefix)[@(Model.Order)].Amount" />
    <label>Мера объема</label>
    <select name="@(Model.Prefix)[@(Model.Order)].Measure" asp-items="Html.GetEnumSelectList<IngredientMeasure>()"></select>
    <label>Необязательный</label>
    <input type="checkbox" name="@(Model.Prefix)[@(Model.Order)].Optional" value="true"/>
</div>