@page "{id:long}"
@model KitProjects.Cookbook.UI.Pages.Recipes.DetailsModel
@section Styles {
    <link rel="stylesheet" href="~/css/details.css" />
}
<div class="recipe-info">
    <div class="ingredients-block">
        <h3 class="recipe-block-title">Ингредиенты</h3>
        @{ RenderIngredients(Model.Recipe.IngredientDetails); }
    </div>
    <div class="recipe-thumbnail">
        <h1 class="recipe-block-title recipe-title">@Model.Recipe.Title</h1>
        <div class="recipe-thumbnail-image">
            <img src="data:image/jpg;base64, @Model.Recipe.ThumbnailBase64" alt="Картинка рецепта" />
        </div>
    </div>
    <div class="recipe-stats-block">
        <h4 class="recipe-block-title">Характеристики</h4>
        <ul class="recipe-stats">
            <li>Создан @Model.Recipe.CreatedAt.ToRussianDateTimeString()</li>
            <li>Время готовки: @Model.Recipe.CookingDuration минут</li>
        </ul>
        <div class="recipe-tags">
            <i>@(string.Join(' ', Model.Recipe.Tags ?? new List<string>(0)))</i>
        </div>
    </div>
</div>
<div class="recipe-source">
    <p>Источник: <a href="@Model.Recipe.Source?.SiteUrl" target="_blank">@(Model.Recipe.Source?.Name)</a></p>
</div>
<div class="recipe-description">
    <h4>Описание</h4>
    <p>
        @Model.Recipe.Description
    </p>
</div>
<div class="steps-modes">
    <div class="w3-hover-green">
        Пошаговый режим
    </div>
    <div class="w3-green">
        Все шаги сразу
    </div>
</div>
<div class="recipe-steps">
@foreach (var step in Model.Recipe.Steps)
{
    StepComponent(step);
}
</div>

@{
    void RenderIngredients(List<KitProjects.Cookbook.Domain.Models.IngredientDetails> ingredients)
    {
        <ul class="ingredients">
        @foreach (var ingredient in ingredients)
        {
            string info = $"{ingredient.Ingredient.Name}: {ingredient.Amount.ToCustomString()} {ingredient.Measure}";
            <li>
                @(info)
            @if (ingredient.Optional)
            {
                <i>(по желанию)</i>
            }
            </li>
        }
        </ul>
    }
}

@{
    void StepComponent(KitProjects.Cookbook.Domain.Models.Step step)
    {
        <div class="recipe-step">
            <h3>@(step.Order)</h3>
            <div class="recipe-step-info">
                <div>
                    @if (step.IngredientDetails?.Count > 0)
                    {
                        <div class="step-ingredients">
                            <h5>Ингредиенты</h5>
                            @{ RenderIngredients(step.IngredientDetails); }
                        </div>
                    }
                </div>
            </div>
            <div class="step-description">
                <img src="data:image/jpg;base64, @(step.ImageBase64)" alt="картинка шага" />
                <p>@(step.Description)</p>
            </div>
        </div>
    }
}
