@page "{id:long}"
@model KitProjects.Cookbook.UI.Pages.Recipes.DetailsModel
<h1>
    @Model.Recipe.Title
</h1>
<div class="w3-container">
    <div id="thumbnail-and-ingredients">
        <div class="flex flex-around">
            <div class="recipe-details-thumbnail w3-center">
                @if (string.IsNullOrEmpty(Model.Recipe.ThumbnailBase64))
                {
                    <small>Здесь могла быть картинка</small>
                }
                else
                {
                    <img style="width:100%;" src="data:image/jpg;base64, @Model.Recipe.ThumbnailBase64" alt="Картинка рецепта" />
                }
            </div>
            <div class="recipe-details-ingredients w3-border">
                <h3 class="w3-center">Ингредиенты</h3>
                <ul>
                    @foreach (var ingredient in Model.Recipe.IngredientDetails)
                    {
                        <li>
                            @(ingredient.Ingredient.Name): @(ingredient.Amount.ToCustomString())  @(ingredient.Measure)
                            @if (ingredient.Optional)
                            {
                                <i>(по желанию)</i>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="steps-mode-buttons">
        <button class="w3-button w3-border w3-hover-light-green">Пошаговый режим</button>
        <button class="w3-button w3-border w3-hover-light-green">Все шаги сразу</button>
    </div>
    <div id="main-details">
        <div class="w3-container">
            <div class="w3-row">
                <div class="w3-half w3-center">
                    Создан @Model.Recipe.CreatedAt.ToShortDateString()
                </div>
                <div class="w3-half w3-center">
                    Время готовки: @Model.Recipe.CookingDuration минут
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-rest w3-center">
                    @(string.Join(' ', Model.Recipe.Tags ?? new List<string>(0)))
                </div>
            </div>
            <div class="w3-row">
                <p>@Model.Recipe.Description</p>
            </div>
        </div>
    </div>
    <div id="steps-block">
        @foreach (var step in Model.Recipe.Steps)
        {
            StepComponent(step);
        }
    </div>
</div>

@{
    void StepComponent(KitProjects.Cookbook.Domain.Models.Step step)
    {
        @if (string.IsNullOrEmpty(step.ImageBase64))
        {
            <h3>Шаг @step.Order</h3>
            <p>@step.Description</p>
            <small>Куда-то еще ингредиенты впендюрить</small>
        }
        else
        {
            <div class="w3-row">
                <div class="w3-half">
                    <img src="data:image/jpg;base64, @(step.ImageBase64)" height="200" alt="картинка шага" />
                </div>
                <div class="w3-half">
                    <h3>Шаг @step.Order</h3>
                    <p>@step.Description</p>
                    <small>Куда-то еще ингредиенты впендюрить</small>
                </div>
            </div>
        }
        <div class="w3-container">
        </div>
    }
}
