@page "{id:long}"
@model KP.Cookbook.UI.Pages.Recipes.DetailsModel
@section Styles {
    <link rel="stylesheet" href="~/css/details.css" />
}
<div class="w3-row">
    <div class="w3-container w3-quarter">
        <h3 class="w3-center">Ингредиенты</h3>
        @{ RenderIngredients(Model.Recipe.IngredientDetails); }
    </div>
    <div class="w3-half w3-center">
        <h1>@Model.Recipe.Title</h1>
        <img style="max-width: 80%; max-height: 30em;" src="data:image/jpg;base64, @Model.Recipe.ThumbnailBase64" alt="Картинка рецепта" />
    </div>
    <div class="w3-quarter">
        <h3 class="w3-center">Характеристики</h3>
        <ul class="w3-ul">
            <li>Создан @Model.Recipe.CreatedAt.ToRussianDateTimeString()</li>
            <li>Время готовки: @Model.Recipe.CookingDuration минут</li>
        </ul>
    </div>
</div>
@if (Model.Recipe.Source != null)
{
    <div class="w3-row">
        <p>Источник: <a href="@Model.Recipe.Source?.SiteUrl" target="_blank">@(Model.Recipe.Source?.Name)</a></p>
    </div>
}
<div class="w3-row">
    <p>
        @Model.Recipe.Description
    </p>
</div>
<div class="w3-row">
@foreach (var step in Model.Recipe.Steps)
{
    StepComponent(step);
}
</div>

<div class="w3-row w3-margin-bottom">
    <button class="w3-button w3-red" type="button" onclick="deleteRecipe('@(Model.Recipe.Id)')">Удалить</button>
</div>

@{
    void RenderIngredients(List<KP.Cookbook.Domain.Models.IngredientDetails> ingredients)
    {
        <ul class="w3-ul">
            @if (ingredients?.Count == 0) { <li></li>}
            else
            {
                foreach (var ingredient in ingredients)
                {
                    string info = ingredient.Measure == Domain.Models.IngredientMeasure.ничего
                        ? $"{ingredient.Ingredient.Name}"
                        : $"{ingredient.Ingredient.Name}: {ingredient.Amount.ToCustomString()} {ingredient.Measure}";
                    <li>
                        @(info)
                    @if (ingredient.Optional)
                    {
                        <i>(по желанию)</i>
                    }
                    </li>
                }
            }
        </ul>
    }
}

@{
    void StepComponent(KP.Cookbook.Domain.Models.Step step)
    {
        <div class="w3-row w3-border-bottom w3-margin-bottom">
            <h3 class="w3-quarter w3-center w3-jumbo">@(step.Order)</h3>
            <div class="w3-quarter" style="margin-left: -2em;">
                @{ RenderIngredients(step.IngredientDetails); }
            </div>
            <div style="margin-left: 2em;" class="w3-half w3-margin-bottom">
                <img class="w3-right" style="max-width: 80%; max-height: 20em;" src="data:image/jpg;base64, @(step.ImageBase64)" alt="картинка шага" />
                <p>@(step.Description)</p>
            </div>
        </div>
    }
}

@section Scripts {
    <script src="~/js/details.js"></script>
}