@page
@model KitProjects.Cookbook.UI.Pages.Recipes.IndexModel
@section Styles {
    <link rel="stylesheet" href="~/css/recipes.css" />
}

<ul>
    @foreach (var recipe in Model.Recipes)
    {
        await RenderRecipeAsync(recipe);
    }
</ul>

@{
    async Task RenderRecipeAsync(KitProjects.Cookbook.Domain.Models.Recipe recipe)
    {
        bool thereAreTags = recipe.Tags?.Count > 0;
        <li>
            <h4><a asp-page="/recipes/details" asp-route-id="@recipe.Id">@(recipe.Title ?? "Без названия")</a></h4>
            <img src="data:image/jpg;base64, @recipe.ThumbnailBase64" alt="Обложка" />
            <div class="recipe-body">
                <small>@recipe.Synopsis</small>
                @if (thereAreTags)
                {
                    <ul>
                        @foreach (var tag in recipe.Tags)
                        {
                            <li>
                                @($"#{tag}")
                            </li>
                        }
                    </ul>
                }
            </div>
        </li>
    }
}